{% set colors = [
  '#D7D7D7',
  '#888279',
  '#3C2821',
  '#83888C',
  '#833435',
  '#ffffff',
  '#35261D',
  '#804423',
  '#804423',
  '#804423',
] %}

<!-- begin detail-card-desc -->
<div class="detail-card-desc">
	<h1 class="title-h2">Президент люкс</h1>

	<div class="detail-card-section detail-card-section--full-width uk-padding-remove-top uk-padding-remove-bottom border-none uk-hidden@m">
		<div class="title-count red mb-20">Остаток на складе — 1шт.</div>

		<form action="" class="detail-add-basket uk-margin-remove-bottom">
			<fieldset>
				<label for="square-1-m" class="square-radio">
					<input id="square-1-m" type="radio" name="price">
					<span class="square-radio__input">
						<div class="square-radio__title">Цена за дверь</div>
						<div class="square-radio__value">8 870 Р.</div>
					</span>
				</label>
				<label for="square-2-m" class="square-radio">
					<input id="square-2-m" type="radio" name="price" checked>
					<span class="square-radio__input">
						<div class="square-radio__title">Цена за комплект</div>
						<div class="square-radio__value">18 500 р.</div>
					</span>
				</label>
			</fieldset>

			<fieldset class="uk-flex">
				<div class="calc-control">
					<span class="minus">—</span>
					<input type="text" class="calc-control__value" value="1">
					<span class="plus">+</span>
				</div>

				<button type="submit" class="btn btn-add-cart icon-cart">Купить</button>
			</fieldset>
		</form>
	</div>

	<div class="detail-card-section detail-card-section--full-width">
		<div class="uk-grid">
			<div class="uk-width-1-2">
				<div class="small-gray-title">Размер, мм</div>
				<ul class="sizes-list">
					<li class="sizes-list__item">
						<a href="#" class="sizes-list__link active">2050 x 880</a>
					</li>
					<li class="sizes-list__item">
						<a href="#" class="sizes-list__link">2050 x 960</a>
					</li>
				</ul>
			</div>
			<div class="uk-width-1-2">
				<div class="small-gray-title">Тип открывания</div>

				<div class="radio-list">
					<label for="radio-1" class="custom-radio">
						<input id="radio-1" type="radio" name="radio-type" checked>
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Правая</span>
					</label>

					<label for="radio-2" class="custom-radio">
						<input id="radio-2" type="radio" name="radio-type">
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Левая</span>
					</label>
				</div>
			</div>
		</div>

		<a href="#call-spec" class="link-size" uk-toggle>Вызвать замерщика</a>
	</div>

	<div class="detail-card-section">
		<div class="accordion-block">
			<div class="accordion-block__title open">Основной замок</div>
			<div class="accordion-block__desc">
				<div class="radio-list">
					<label for="radio-3" class="custom-radio">
						<input id="radio-3" type="radio" name="radio-type-2" checked>
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Меттем 347</span>
					</label>

					<label for="radio-4" class="custom-radio">
						<input id="radio-4" type="radio" name="radio-type-2">
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Кале 252
							<div class="tooltip-block">
								<div class="tooltip-block__icon">i</div>

								<div class="tooltip-block__modal">
									<div class="tooltip-block__modal-img">
										<img src="img/media/tooltip-img.png" width="128" height="135" alt="" loading="lazy">
									</div>
									<div class="tooltip-block__modal-desc">
										<div class="tooltip-block__modal-price">4 873 р.</div>
										<div class="tooltip-block__modal-count">
											<span class="red">Остаток на складе — 2 шт.</span>
										</div>

										<div class="tooltip-block__modal-type">Добор 200мм</div>
										<table class="tooltip-block__modal-table">
											<tr>
												<td>Производитель:</td>
												<td>MORELLI</td>
											</tr>
											<tr>
												<td>Размеры:</td>
												<td>10х200х2070 мм
												</td>
											</tr>
											<tr>
												<td>Материал:</td>
												<td>Экошпон 3D
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</span>
					</label>

					<label for="radio-5" class="custom-radio">
						<input id="radio-5" type="radio" name="radio-type-2">
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Cisa 57/665</span>
					</label>
				</div>
			</div>
		</div>
	</div>


	<div class="detail-card-section">
		<div class="accordion-block">
			<div class="accordion-block__title open">Дополнительный замок</div>
			<div class="accordion-block__desc">
				<span class="attantion-msg">Выберите основной замок</span>
			</div>
		</div>
	</div>

	<div class="detail-card-section">
		<div class="accordion-block">
			<div class="accordion-block__title">Цвет фурнитуры</div>
			<div class="accordion-block__desc hidden">

				<div class="colors-list uk-margin-small-top">
					{% for j in 0..9 %}
						{% if j == 5 %}
							<label for="{{j}}_{{colors[j]}}-f" class="color-checkbox" uk-tooltip="title: {{colors[j]}}; pos: right">
								<input id="{{j}}_{{colors[j]}}-f" type="checkbox" value="" checked>
								<span class="custom-checkbox" style="background-color: {{colors[j]}}" uk-toggle="#colors-fur-modal"></span>
							</label>
						{% else %}
							<label for="{{j}}_{{colors[j]}}-f" class="color-checkbox" uk-tooltip="title: {{colors[j]}}; pos: right">
								<input id="{{j}}_{{colors[j]}}-f" type="checkbox" value="">
								<span class="custom-checkbox" style="background-color: {{colors[j]}}" uk-toggle="#colors-fur-modal"></span>
							</label>
						{% endif %}
					{% endfor %}

				</div>

			</div>
		</div>
	</div>

	<div class="detail-card-section">
		<div class="detail-title">Цвет панели</div>
		<div class="scroll-wrapper">
			<div class="scroll-wrapper__inner" data-height="40">

				<div class="colors-list">
					{% for i in 0..9 %}
						{% if i == 5 %}
							<label for="{{i}}_{{colors[i]}}" class="color-checkbox" uk-tooltip="title: {{colors[i]}}; pos: right">
								<input id="{{i}}_{{colors[i]}}" type="checkbox" value="" checked>
								<span class="custom-checkbox" style="background-color: {{colors[i]}}" uk-toggle="#colors-panel-modal"></span>
							</label>
						{% else %}
							<label for="{{i}}_{{colors[i]}}" class="color-checkbox" uk-tooltip="title: {{colors[i]}}; pos: right">
								<input id="{{i}}_{{colors[i]}}" type="checkbox" value="">
								<span class="custom-checkbox" style="background-color: {{colors[i]}}" uk-toggle="#colors-panel-modal"></span>
							</label>
						{% endif %}
					{% endfor %}

				</div>

			</div>
			<a href="" class="show-more icon-plus blue uk-margin-remove js__scroll-toggle">Показать еще</a>
		</div>
	</div>

</div>
<!-- end detail-card-desc -->
